.chart-settings {
  pointer-events: all;
}

.chart-settings label {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 2px 4px;
  pointer-events: all;
  font-size: 12px;
  color: rgb(172, 172, 172);
  padding: 4px 6px;
}

.chart-settings label:hover {
  border: 1px solid rgb(172, 172, 172, 0.5);
}

.chart-settings label input[type="checkbox"] {
  margin-right: 4px;
}
