.chart {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 10;
}

.overlay-padding {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.indicator-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}
