.indicators-modal button {
  outline: 0;
  background: rgb(75, 75, 75);
  border: 0;
  color: rgb(160, 160, 160);
  cursor: pointer;
}

.source {
  width: 100%;
}

.indicators {
  margin: 0px -4px;
}

.indicator-button {
  margin: 4px;
  padding: 4px 8px;
  border-radius: 2px;
}

.indicators-modal button.indicator-button__selected {
  background: rgb(160, 160, 160);
  color: rgb(75, 75, 75);
}

.markets-search-box input {
  width: 100%;
  padding: 4px 8px;
  border-radius: 2px;
  background: rgb(75, 75, 75);
  border: 0;
  color: rgb(160, 160, 160);
  font-size: 24px;
}

.datasets {
  margin: 2px 0;
  margin-top: 12px;
}

button.dataset {
  width: 100%;
  padding: 8px 12px;
  margin: 2px 0;
  text-align: left;
}

.dataset h3 {
  margin: 0;
}

.dataset {
}
