.viper {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(160, 160, 160);
}

.v-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.react-resizable-handle {
  z-index: 1000;
}

.grouped-list-item {
  background: rgb(75, 75, 75);
  border: 0;
  color: rgb(160, 160, 160);
  cursor: pointer;
  padding: 12px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: left;
}
